@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@theme {
    --font-sans: 'Montserrat';
    --color-default-green: #0ab463;
    --color-muted-gray: #c4c4c4;
    --color-warm-gray: #84848484;
}
